

body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

/* ----------- stylized ----------- */
div#wrapper{ margin:0 auto; width:800px; border:solid 2px #b7ddf2; background:#ebf4fb; padding:14px;}
#form h1 { font-size:14px; font-weight:bold; margin-bottom:8px; }
#form p{ font-size:11px; color:#666666; margin-bottom:20px; border-bottom:solid 1px #b7ddf2; padding-bottom:10px;}
#form .label{ display:block; font-weight:bold; margin-top:5px;text-align:right; width:140px; float:left;}
#form .small{ color:#666666; display:block; font-size:11px; font-weight:normal; text-align:right; width:140px;}
#form input{ float:left; font-size:12px; padding:4px 2px; border:solid 1px #aacfe4; width:200px; margin:2px 0 5px 10px;}
#form button{ clear:both; float:left; cursor:pointer; margin-left:150px; width:125px; height:31px; background:#666666 url(img/button.png) no-repeat; text-align:center; line-height:31px; color:#FFFFFF; font-size:11px; font-weight:bold;}
#form  div.error { padding:2px 4px; margin-bottom:10px; border:solid 1px #FBD3C6; background:#FDE4E1; color:#48A41C; font-size:14px;  font-weight:bold;text-align:center;}
#form  div.result { padding:2px 4px; margin-bottom:10px; border:solid 1px #C0F0B9; background:#D5FFC6s; color:#48A41C; font-size:14px;  font-weight:bold;text-align:center;}
#form .hide {display:none}
#form .form-element {float: left; width:220px; margin-bottom :15px}
#form  label.error  {color:red; margin-left:11px}
#form  input.error  {border:solid 1px #FBD3C6; background:#FDE4E1; color:#48A41C;}